$font-stack: "Lucinda Grande", Helvetica, Arial, sans-serif;
$primary-link-color: #00B7FF;
body{
    padding: 50px;
    font: 14px $font-stack;
    background-color: red;
    a{
        color: $primary-link-color;
    }
    ul{
        list-style-type: none;
        .checked{
            span{
                text-decoration: line-through;
            }
        }
    }
}