body {
  padding: 50px;
  font: 14px "Lucinda Grande", Helvetica, Arial, sans-serif;
  background-color: red; }
  body a {
    color: #00B7FF; }
  body ul {
    list-style-type: none; }
    body ul .checked span {
      text-decoration: line-through; }
